body{
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:hover, *:focus, *:active {
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */

}


body{
    background: black;
}

.window{
    max-width: 660px;
    /*height: 480px;*/
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*left saidbar*/
.left{
    max-width: 137.2px;
    /*height: 480px;*/
    background-color: #5A61ED;
    position: relative;
    margin: 0;
}

.left_text{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    line-height: 20px;
    color: white;
    margin-bottom: 22px;
    margin-right: 11px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    width: auto;
    height: auto;
    transform: scale(-1, -1);
}


/*right saidbar*/
.right{
    height: 480px;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 522px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*svg*/
#my-svg{
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

/*div content right saidbar*/
.content_right{
    position: relative;
    z-index: 2
}


/*Text bottom*/
.text1{
    margin-top: 40px;
    padding-left: 20px;
}

.p1{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    font-size: 22px;
    letter-spacing: -0.46px;
}

.p2{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.35px;
}

/*div too form*/
.div_form{
    /*border: 1px solid red;*/
    max-width: 500px;
    opacity: 1;
    margin-top: 12px;
    padding-left: 23px;
    padding-right: 20px;
}

/*all div input*/

.form-group{
    margin-bottom: 0;
}

.form-group_left{
    width: 236px;
    letter-spacing: -0.35px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

.form-group_right{
    width: 236px;
    letter-spacing: -0.35px;
    margin-left: 0px;
    /*margin-top: 2px;*/
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

.fname_lname{
    /*margin-top: 5px;*/
}

.national_email{
    margin-top: 8px;
}

.data_gender{
    margin-top: 10px;
}

.pass_pass2{
    margin-top: 8px;
}

/*label*/
.signature{
    /*border: 1px solid red;*/
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0;
    font-size: 12px;
}

/*День*/
/*Day*/
#dobday{
    width: 60px;
    /*border: 1px solid red;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('icons/Shape (2).png') no-repeat right center;
    padding: 0;
    border-radius: 0;
}

/*Месяц*/
/*.month{*/
#dobmonth{
    /*border: 1px solid red;*/
    width: 100px;
    margin: auto 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('icons/Shape (2).png') no-repeat right center;
    border-radius: 0;
    padding: 0;
}

/*Год*/
/*.year{*/
#dobyear{
    /*border: 1px solid red;*/
    width: 70px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('icons/Shape (2).png') no-repeat right center;
    padding: 0;
    padding-right: 20px;
    border-radius: 0;
}

.form-control{
    border-radius: 0;
    /*border: 1px solid red;*/
    border-top: none ;
    border-right: none ;
    border-left: none ;
    padding-left: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    height: 25px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*label {*/
    /*margin-bottom: 5px;*/
/*}*/

/*Стилизация радио*/
input[type='radio']{
    display: none;
}
#gender{
    max-width: 138px;
    height: 25px;
}

/*label for radio*/
.radio-inline{
    height: 20px;
    padding-left: 16px;
    /*border: 1px solid black;*/
    position: relative;
    /*padding-bottom: -5px;*/
    /*margin-top: -5px;*/
    letter-spacing: -1.0px;
}

.radio-inline:before{
    display: inline-block;
    position: absolute;
    content: '';
    border: 1px solid #5A61ED;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    left: 0;
    bottom: 0;
    padding-right: 10px;
    background: white;
}

label{
    margin-bottom: -2px;
}

.radio-inline:after{
    position: absolute;
    content: '';
    background-color: #5A61ED;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    left: 3px;
    bottom: 3px;
    display: none;
}

input[type='radio']:checked+.radio-inline:after {
    display: block;
}

/*div text(login) +but*/
.log_div{
    /*border: 1px solid black;*/
    margin-bottom: 30px;
    margin-top: 95px;
}

.log{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.35px;
}

.log_a{
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 0.20px;
    color: #5A61ED;
}

/*Стрелочки*/
#exampleFormControlSelect1{
    max-width: 234px;
    background: url('icons/Shape (2).png') no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-top: 0;
    padding-bottom: 0;
}

    #btn{
    width: 154px;
    height: 32px;
    border-radius: 0.5px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.20px;
}

    .window_content{
        display: flex;
}